.card {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
    max-width: 400px;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    position: relative;
    .card-text {
        display: grid;
        grid-template-columns: 1fr 2fr;
        img {
            width: 100%;
            height: 100%;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background-position: bottom center;
            ;;
        }
        .title-total {
            padding: 2.5em 1.5em 1.5em 1.5em;
            .title {
                padding: 1rem;
                text-align: right;
                color: green;
                font-weight: bold;
                font-size: 12px;
            }
            .desc {
                padding: 0.5rem 1rem;
                font-size: 12px;
            }
            .act {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: center;
                padding: 0.5rem 1rem;
                .btn {
                    border: none;
                    background: none;
                    font-size: 24px;
                    color: #8bc34a;
                    cursor: pointer;
                    transition: 0.5s;
                    &:hover {
                        color: #4caf50;
                        transform: rotate(22deg);
                    }
                }
            }
        }
    }
}
