@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap");

@import "./breakkpoints.scss";
@import "./variables.scss";

@import "./components/intro.scss";
@import "./components/header.scss";
@import "./components/landing.scss";
@import "./components/navigation.scss";

body,
html {
  visibility: hidden;
  user-select: none;
  background: $white;
  overscroll-behavior: none;
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}


.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;
  @include media("<=1560px") {
    width: 1280px;
    min-width: 1280px;
  }
  @include media("<=desktop") {
    width: 1080px;
    min-width: 1080px;
  }
  @include media("<=1080px") {
    width: 100%;
    min-width: 100%;
  }
  .row {
    display: flex;
    height: 100%;
    padding: 0 32px;
    @include media("<=phone") {
      padding: 0 16px;
    }
  }
  .v-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
}

.container-fluid {
  width: 100%;
  height: 100%;
  .row {
    display: flex;
    height: 100%;
  }
}

/* =========== Projects ===========*/

.project-title {
  font-size: 100px;
  padding-top: 100px;
  padding-bottom: 50px;
}

@media screen and (max-width: 991px) {
  .project-title {
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 25px;
  }
}

/* =========== Gallery ===========*/

.gallery-title {
  font-size: 75px;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 991px) {
  .gallery-title {
    font-size: 25px;
  }
}

.img-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 150px;
  margin-left: 10vw;
  margin-right: 10vw;
}
.img-wrap {
  padding-bottom: 50px;
}
.img-wrap img {
  object-fit: cover;
  object-position: center;
  width: 65vw;
  height: 65vw;
}

@media screen and (min-width: 992px) {
  .img-grid {
    margin-left: 17vw;
    margin-right: 17vw;
  }

  .img-wrap {
    padding-bottom: 1.5vw;
    width: 100%;
    width: 33%;
  }

  .img-wrap img {
    width: 20vw;
    height: 20vw;
  }
}

.App {
  z-index: 2;
  transform: translateY(0);
  position: relative;
}

.page {
  height: 100vh;
  width: 100%;
  background: $white;
  .row {
    display: flex;
    align-items: center;
  }
}
