@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap");

@import "./variables.scss";

body,
html {
  user-select: none;
  background: $white;
  overscroll-behavior: none;
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.full-container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
  box-sizing: border-box;
}

.not-selectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  pointer-events: none;
}

/* =========== Navbar ===========*/

.navbar {
  background: none !important;
  background-color: transparent !important;
  overflow: hidden;
  position: absolute !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-wrap: wrap;
  width: 100vw !important;
  z-index: 100;
}

#basic-navbar-nav {
  font-size: small;
}

.navbar-toggle {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.navbar-text {
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-text:hover {
  text-decoration: none;
  color: black !important;
}

/* =========== Loading ===========*/

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-bar {
  position: absolute;
  top: 50%;
  left: 0;
  height: 3px;
  background: #ffbf4e;
  margin-left: 2%;
  margin-right: 2%;
}

.loading-text {
  font-size: small;
  color: #ffbf4e;
  margin-bottom: 50px;
}

/* =========== About ===========*/

.titleBackground {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: -100;
}

.background-video {
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -100;
}

.heading {
  position: absolute;
  top: 40%;
  left: 5%;
  text-align: right;
  z-index: 1;
}

.homeTitle1 {
  font-size: 8vw;
  font-weight: bolder;
}

.homeTitle2 {
  font-size: 5vw;
}

.homeTitle3 {
  font-size: 3vw;
}

@media screen and (max-width: 991px) {
  .titleBackground {
    background-position: -40vw;
    padding-top: 0vh;
  }

  .heading {
    margin: 0;
    top: 40%;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
  }

  .homeTitle1 {
    font-size: 14vw;
    text-align: center;
  }

  .homeTitle2 {
    font-size: 7vw;
    text-align: center;
  }

  .homeTitle3 {
    font-size: 3vw;
    text-align: center;
  }
}

/* =========== Projects ===========*/

.project-title {
  font-size: 100px;
  padding-top: 100px;
  padding-bottom: 50px;
}

@media screen and (max-width: 991px) {
  .project-title {
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 25px;
  }
}

/* =========== Gallery ===========*/

.gallery-title {
  font-size: 75px;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 991px) {
  .gallery-title {
    font-size: 25px;
  }
}

.img-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 30px;
  margin-left: 10vw;
  margin-right: 10vw;
}
.img-wrap {
  padding-bottom: 50px;
}
.img-wrap img {
  object-fit: cover;
  object-position: center;
  width: 65vw;
  height: 65vw;
}

@media screen and (min-width: 992px) {
  .img-grid {
    margin-left: 17vw;
    margin-right: 17vw;
  }

  .img-wrap {
    padding-bottom: 1.5vw;
    width: 100%;
    width: 33%;
  }

  .img-wrap img {
    width: 20vw;
    height: 20vw;
  }
}

/* ===== Cards ====*/
.card {
  transition: box-shadow 0.3s;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

/* ===== Page ====*/
.jumbotron {
  min-height: 100vh;
  margin: 0px !important;
}

#nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

#badge {
  border: 2px solid #ddd;
  height: 50px;
  width: 50px;
  border-radius: 10px !important;
}

@media screen and (min-width: 992px) {
  #aboutText {
    text-align: left;
    margin: 20px;
    padding-left: 50px;
  }
}
@media screen and (max-width: 991px) {
  #aboutText {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  #about {
    background-color: transparent;
  }
}
