@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @font-face {
        font-family: '"LCD Solid"';
        font-weight: 500;
        src: url(../fonts/Ticker.ttf) format("ttf");
    }
}
