.App {
  text-align: center;
}

.card {
  transition: box-shadow .3s;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.jumbotron {
  min-height: calc(100vh - 113px);
  margin: 0px !important;
}

#nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

#badge {
  border: 2px solid #ddd;
  height: 50px;
  width: 50px;
  border-radius: 10px !important;
}


@media screen and (min-width: 992px){
  #aboutText {
    text-align: left;
    margin: 20px;
    padding-left: 50px;
  }

  #about {
    background-image: url('img/WideWhite.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
@media screen and (max-width: 991px){
  #aboutText {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  #about {
    background-color: transparent;
  }
}

#loading {
  animation-name: FadeAnim;
  animation-duration: 1s;
}

@keyframes FadeAnim {
  0% {
     opacity: 0;
  }
  100% {
     opacity: 1;
  }
}

/* =========== Home Page ===========*/

#homeTitle {
  opacity: 0;
  text-align: right;
  color: white;
  padding-right: 5%;
}

#titleBackground {
  background-image: url("img/CACropped.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;
}