html, body, #root, .App {
  height: 100%;
  margin: 0;
}

.full-container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
  box-sizing: border-box;
  font-family: 'LuluBold';
}

canvas { 
  outline: none; 
  border: none; 
  background:black;
}

/* =========== Navbar ===========*/

.navbar {
  background: none !important;
  background-color: transparent !important;
  overflow: hidden;
  position: absolute !important;
  justify-content:space-between !important; 
  align-items: center !important;
  flex-wrap: wrap;
  width: 100vw !important;
  z-index: 100;
}

#basic-navbar-nav {
  font-size: small;
}

.navbar-toggle {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.navbar-text {
  margin-left: 10px;
  margin-right: 10px;
  color: #FFBF4E !important;
}

.navbar-text:hover {
  text-decoration: none;
}

/* =========== Loading ===========*/

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-bar {
  position: absolute;
  top: 50%;
  left: 0;
  height: 3px;
  background: #FFBF4E;
  margin-left: 10px;
  margin-right: 10px;
}

.loading-text {
  font-size: small;
  color: #FFBF4E;
  margin-bottom: 50px;
}

/* =========== Home Page ===========*/

.titleBackground {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: -100;
}

.background-video {
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -100;
}

.heading {
  position: absolute;
  top: 40%;
  left: 5%;
  text-align: right;
  z-index: 1;
}

.homeTitle1 {
  font-size: 5vw;
  font-weight: bolder;
}

.homeTitle2 {
  font-size: 3vw;
  margin-right: 10px;
}

.homeTitle3 {
  font-size: 1.6vw;
  margin-right: 20px;
}  

@media screen and (max-width: 991px){
  .titleBackground {
    background-position: -40vw;
    padding-top: 0vh;
  }

  .heading {
    margin: 0;
    top: 40%;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
  }

  .homeTitle1 {
    font-size: 14vw;
    text-align: center;
  }
  
  .homeTitle2 {
    font-size: 7vw;
    text-align: center;
  }

  .homeTitle3 {
    font-size: 3vw;
    text-align: center;
  }
}

.block {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


.sticky {
  height: 100vh;
  width: 100%;
  position: relative;
}

.video {
  height: 100%;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  justify-content: center;
}

.centered {
  position: absolute;
  top: 50%;
  right: 50%;
  font-size: 4vw;
  font-weight: bolder;
  color: white;
}

@media screen and (max-width: 991px){
  .centered {
    font-size: 5.5vw;
  }
}

/* =========== Projects ===========*/

.project-title {
  font-size: 100px;
  padding-top: 100px;
  padding-bottom: 50px;
}

@media screen and (max-width: 991px){
  .project-title {
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 25px;
  }
}

/* =========== Gallery ===========*/

.gallery-title {
  font-size: 75px;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 991px){
  .gallery-title {
    font-size: 25px;
  }
}

/* ===== Cards ====*/
.card {
  transition: box-shadow .3s;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.card-description {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: medium;
}

/* ===== Page ====*/
.jumbotron {
  min-height: 100vh;
  margin: 0px !important;
}

#nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

#badge {
  border: 2px solid #ddd;
  height: 50px;
  width: 50px;
  border-radius: 10px !important;
}


@media screen and (min-width: 992px){
  #aboutText {
    text-align: left;
    margin: 20px;
    padding-left: 50px;
  }
}
@media screen and (max-width: 991px){
  #aboutText {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  #about {
    background-color: transparent;
  }
}

/* =========== Fonts ===========*/

@font-face {
  font-family: LuluBold;
  src: local('LuluBold'), url(./fonts/LuluBold.ttf) format('truetype')
}
